{
  "flavourId": "default",
  "vimConnectionInfo": [
    {
      "id": "test-kir1",
      "vimType": ""
    }
  ],
  "additionalParams": {
    "vduParams": [
      {
        "namespace": "avi-system",
        "repoUrl": "https://harbor.rogers.lab/chartrepo/avi",
        "username": "admin",
        "password": "R0gers!23",
	"chartName": "ako",	
        "metadata": [
          {
            "values": "{{ lookup('file','values.base64') }}"
          }
        ],
        "vduName": "ako"
      }
    ],
    "disableGrant": false,
    "ignoreGrantFailure": true,
    "disableAutoRollback": false
  }
}
