{
  "name": "test-cicd-cluster",
  "clusterType": "WORKLOAD",
  "clusterTemplateId": "rtrm-qa2-spec-template-CciZ",
  "hcxCloudUrl": "https://tca-cp-wl.rogers.lab",
  "vmTemplate": "photon-3-kube-v1.21.8-vmware.1-tkg.2",
  "endpointIP": "10.249.235.193",
  "placementParams": [
    {
      "type": "Folder",
      "name": "wl"
    },
    {
      "type": "Datastore",
      "name": "wl-ds-vsan01"
    },
    {
      "type": "ResourcePool",
      "name": "rp-tkg"
    },
    {
      "type": "ClusterComputeResource",
      "name": "wl-cl01"
    }
  ],
  "clusterConfig": {
    "csi": [
      {
        "name": "vsphere-csi",
        "properties": {
          "datastoreUrl": "ds:///vmfs/volumes/vsan:7cb55971133445b4-b4b72482ad062883/"
        }	
      }
    ]   
  },
  "airgapConfig": {
    "type": "extension",
    "extensionId": "50e4bf59-3952-460b-be6c-5d3ea2331662"
  },  
  "managementClusterId": "m1-cluster",
  "clusterPassword": "Vk13YXJlMSE=",
  "masterNodes": [
    {
      "name": "master",
      "placementParams": [
        {
          "type": "ClusterComputeResource",
          "name": "wl-cl01"
        },
        {
          "type": "Datastore",
          "name": "wl-ds-vsan01"
        },
        {
          "type": "ResourcePool",
          "name": "rp-tkg"
        }
      ],
      "networks": [
        {
          "label": "MANAGEMENT",
          "networkName": "srv-test-clusters",
          "nameservers": []
        }
      ]
    }
  ],
  "workerNodes": [
    {
      "name": "volt",
      "placementParams": [
        {
          "type": "ClusterComputeResource",
          "name": "wl-cl01"
        },
        {
          "type": "Datastore",
          "name": "wl-ds-vsan01"
        },
        {
          "type": "ResourcePool",
          "name": "rp-tkg"
        }
      ],
      "networks": [
        {
          "label": "MANAGEMENT",
          "networkName": "srv-test-clusters",
          "nameservers": []
        }
      ]
    },
    {
      "name": "ecs",
      "placementParams": [
        {
          "type": "ClusterComputeResource",
          "name": "wl-cl01"
        },
        {
          "type": "Datastore",
          "name": "wl-ds-vsan01"
        },
        {
          "type": "ResourcePool",
          "name": "rp-tkg"
        }
      ],
      "networks": [
        {
          "label": "MANAGEMENT",
          "networkName": "srv-test-clusters",
          "nameservers": []
        }
      ]
    },
    {
      "name": "ums",
      "placementParams": [
        {
          "type": "ClusterComputeResource",
          "name": "wl-cl01"
        },
        {
          "type": "Datastore",
          "name": "wl-ds-vsan01"
        },
        {
          "type": "ResourcePool",
          "name": "rp-tkg"
        }
      ],
      "networks": [
        {
          "label": "MANAGEMENT",
          "networkName": "srv-test-clusters",
          "nameservers": []
        }
      ]
    },
    {
      "name": "ads",
      "placementParams": [
        {
          "type": "ClusterComputeResource",
          "name": "wl-cl01"
        },
        {
          "type": "Datastore",
          "name": "wl-ds-vsan01"
        },
        {
          "type": "ResourcePool",
          "name": "rp-tkg"
        }
      ],
      "networks": [
        {
          "label": "MANAGEMENT",
          "networkName": "srv-test-clusters",
          "nameservers": []
        }
      ]
    },
    {
      "name": "odf",
      "placementParams": [
        {
          "type": "ClusterComputeResource",
          "name": "wl-cl01"
        },
        {
          "type": "Datastore",
          "name": "wl-ds-vsan01"
        },
        {
          "type": "ResourcePool",
          "name": "rp-tkg"
        }
      ],
      "networks": [
        {
          "label": "MANAGEMENT",
          "networkName": "srv-test-clusters",
          "nameservers": []
        }
      ]
    }                 
  ]
}